<div>
  <form>
    <div class="w-100">
      <div class="d-flex w-100">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput type="text"
            [placeholder]="'Email'">
          </mat-form-field>
      </div>
      
      <div>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="text"
          [placeholder]="'Pasword'">
        </mat-form-field>
      </div>
      
      <div>
        <button class="w-100 login-btn" mat-raised-button>Вход</button>
      </div>
    </div>
  </form>
</div>